<div class="container" class="center">

	<h1>All spots</h1>

	<div class="hover01 column">
			<% @search_spots.each do |spot| %>
				<%= link_to spot_path(spot.id) do %>
					<figure>
						<%= attachment_image_tag spot, :spot_image, size:"300x300", fallback: "no_image.jpg" %>
					</figure>
				<% end %>
			<% end %>
	</div>

</div>
