<div class="container" class="center">

	<h1>Spot show</h1>

		<div class="tittle">
			<h3><%= @spot.spot_name %></h3>
			<h3><%= @spot.caption %></h3>
			<p><%= attachment_image_tag @spot, :spot_image, size:"300x300", fallback: "no_image.jpg" %></p>
		</div>

		<%= link_to "Edit", edit_spot_path %>

</div>